<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supers.p2p.assets.dao.SCompanyCreditMapper">
  <resultMap id="BaseResultMap" type="com.supers.p2p.assets.entity.SCompanyCredit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_license_first_url" jdbcType="VARCHAR" property="businessLicenseFirstUrl" />
    <result column="business_license_second_url" jdbcType="VARCHAR" property="businessLicenseSecondUrl" />
    <result column="open_license_first_url" jdbcType="VARCHAR" property="openLicenseFirstUrl" />
    <result column="open_license_second_url" jdbcType="VARCHAR" property="openLicenseSecondUrl" />
    <result column="id_card_first_url" jdbcType="VARCHAR" property="idCardFirstUrl" />
    <result column="id_card_second_url" jdbcType="VARCHAR" property="idCardSecondUrl" />
    <result column="bank_card_url" jdbcType="VARCHAR" property="bankCardUrl" />
    <result column="pact_status" jdbcType="INTEGER" property="pactStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="opt" jdbcType="VARCHAR" property="opt" />
    <result column="pact_info" jdbcType="LONGVARCHAR" property="pactInfo" />
  </resultMap>
</mapper>