<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supers.p2p.assets.dao.SCompanyInfoMapper">
  <resultMap id="BaseResultMap" type="com.supers.p2p.assets.entity.SCompanyInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_number" jdbcType="VARCHAR" property="companyNumber" />
    <result column="company_type" jdbcType="INTEGER" property="companyType" />
    <result column="comany_birthday" jdbcType="VARCHAR" property="comanyBirthday" />
    <result column="comany_address" jdbcType="VARCHAR" property="comanyAddress" />
    <result column="legal_person_name" jdbcType="VARCHAR" property="legalPersonName" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="bank_card_number" jdbcType="VARCHAR" property="bankCardNumber" />
    <result column="opening_bank" jdbcType="VARCHAR" property="openingBank" />
    <result column="bank_cark_mobile" jdbcType="VARCHAR" property="bankCarkMobile" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="opt" jdbcType="VARCHAR" property="opt" />
  </resultMap>
</mapper>