<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supers.p2p.assets.dao.SRightMapper">
  <resultMap id="BaseResultMap" type="com.supers.p2p.assets.entity.SRight">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="right_name" jdbcType="VARCHAR" property="rightName" />
    <result column="right_url" jdbcType="VARCHAR" property="rightUrl" />
    <result column="right_type" jdbcType="VARCHAR" property="rightType" />
    <result column="right_order" jdbcType="VARCHAR" property="rightOrder" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="user_status" jdbcType="INTEGER" property="userStatus" />
    <result column="visible_type" jdbcType="INTEGER" property="visibleType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="opt" jdbcType="VARCHAR" property="opt" />
  </resultMap>

  <select id="selectList" resultMap="BaseResultMap" parameterType="map">
    select * from s_right
    where 1=1
    <if test="parentId!=null ">
      AND parent_id =#{parentId}
    </if>
    <if test="rightName!=null and rightName!=''">
      AND  right_name LIKE CONCAT('%',#{rightName},'%')
    </if>
    <if test="rightType!=null and rightType!='' ">
      AND right_type =#{rightType}
    </if>
    <if test="userStatus!=null  and userStatus!=''  ">
      AND user_status=#{userStatus}
    </if>
    <if test="visibleType!=null  and visibleType!=''  ">
      AND visible_type=#{visibleType}
    </if>
    <if test="startDate != null and startDate!='' and endDate!=null and endDate!='' ">
      AND <![CDATA[ create_time>= #{startDate}]]>
      AND <![CDATA[ create_time<= #{endDate}]]>
    </if>
  </select>

  <select id="userRight" resultMap="BaseResultMap" parameterType="map">
     select t1.* from s_right t1
    inner join s_role_right t2 on t1.id=t2.right_id
    inner join s_user_role t3 on t2.role_id = t3.role_id
    inner join s_user t4 on t3.user_id=t4.id
     where 1=1
    <if test=" userId!=null  and userId!=''  ">
      AND t4.id=#{userId}
    </if>
    <if test=" visibleType!=null  and visibleType!=''  ">
        AND t1.visible_type=#{visibleType}
    </if>
  </select>

</mapper>