<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermoney.loan.api.dao.SAtLivingInfoMapper">
  <resultMap id="BaseResultMap" type="com.supermoney.loan.api.entity.SAtLivingInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="faceliveness" jdbcType="VARCHAR" property="faceliveness" />
    <result column="face_img" jdbcType="VARCHAR" property="faceImg" />
    <result column="id_img" jdbcType="VARCHAR" property="idImg" />
    <result column="is_pass" jdbcType="TINYINT" property="isPass" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>