<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermoney.loan.api.dao.SBussErrorMapper">
  <resultMap id="BaseResultMap" type="com.supermoney.loan.api.entity.SBussError">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="buss_type" jdbcType="INTEGER" property="bussType" />
    <result column="relate_id" jdbcType="VARCHAR" property="relateId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="json" jdbcType="VARCHAR" property="json" />
    <result column="error_status" jdbcType="INTEGER" property="errorStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>