<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermoney.loan.api.dao.SVoucherUserRecordMapper">
  <resultMap id="BaseResultMap" type="com.supermoney.loan.api.entity.SVoucherUserRecord">

    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="voucher_id" jdbcType="INTEGER" property="voucherId" />
    <result column="voucher_name" jdbcType="VARCHAR" property="voucherName" />
    <result column="voucher_dsc" jdbcType="VARCHAR" property="voucherDsc" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="voucher_buss_type" jdbcType="INTEGER" property="voucherBussType" />
    <result column="voucher_type" jdbcType="INTEGER" property="voucherType" />
    <result column="voucher_val" jdbcType="DECIMAL" property="voucherVal" />
    <result column="use_val" jdbcType="DECIMAL" property="useVal" />
    <result column="use_id" jdbcType="INTEGER" property="useId" />
    <result column="record_status" jdbcType="INTEGER" property="recordStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="opt" jdbcType="VARCHAR" property="opt" />
    <result column="viewed" jdbcType="INTEGER" property="viewed" />
  </resultMap>

  <resultMap id="BaseVoResultMap" type="com.supermoney.loan.api.entity.vo.SVoucherVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="voucher_id" jdbcType="INTEGER" property="voucherId" />
    <result column="voucher_name" jdbcType="VARCHAR" property="voucherName" />
    <result column="voucher_dsc" jdbcType="VARCHAR" property="voucherDsc" />
    <result column="voucher_type" jdbcType="INTEGER" property="voucherType" />
    <result column="voucher_type_name" jdbcType="VARCHAR" property="voucherTypeName" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="viewed" jdbcType="INTEGER" property="viewed" />
    <result column="bounty_ids" jdbcType="VARCHAR" property="bountyIds" />
  </resultMap>

  <select id="selectUserList" resultMap="BaseVoResultMap" parameterType="map">
    select    * ,
    CASE voucher_type
    WHEN 0 Then '单次翻倍'
    WHEN 1 Then '项目翻倍'
    WHEN 2 Then '期间翻倍'
    WHEN 3 Then '随机红包'
    end  as voucher_type_name
    from s_voucher_user_record

    where   user_id=#{userId}
    <if test="notUse!=null and notUse!='' ">
      AND record_status=0
      AND <![CDATA[ end_time > #{nowTime}]]>
    </if>

    <if test="used!=null and used!='' ">
       AND  record_status > 0
    </if>

    <if test="viewed!=null and viewed!='' ">
      AND  viewed=#{viewed}
    </if>

    <if test="passTime!=null and passTime!='' ">
      AND record_status=0
      AND <![CDATA[ end_time < #{nowTime}]]>
    </if>

  </select>

  <select id="executeSql" resultType="map">
    ${sql}
  </select>

</mapper>