<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermoney.loan.api.dao.SXenditVirtualAccountCallbackMapper">
  <resultMap id="BaseResultMap" type="com.supermoney.loan.api.entity.SXenditVirtualAccountCallback">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="payment_id" jdbcType="VARCHAR" property="paymentId" />
    <result column="owner_id" jdbcType="VARCHAR" property="ownerId" />
    <result column="callback_virtual_account_id" jdbcType="VARCHAR" property="callbackVirtualAccountId" />
    <result column="callback_virtual_account_payment_id" jdbcType="VARCHAR" property="callbackVirtualAccountPaymentId" />
    <result column="external_id" jdbcType="VARCHAR" property="externalId" />
    <result column="account_number" jdbcType="VARCHAR" property="accountNumber" />
    <result column="bank_code" jdbcType="VARCHAR" property="bankCode" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="transaction_timestamp" jdbcType="TIMESTAMP" property="transactionTimestamp" />
    <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="xenditSecretKey" jdbcType="VARCHAR" property="xenditsecretkey" />
  </resultMap>
</mapper>